.lead__image {
  margin: 4rem auto 0;

  box-sizing: border-box;
  width: 100%;


  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    margin: calc(2.5rem + (100vw - 320px) / (768 - 320) * (56 - 40)) auto 0;

  }
}
